{% extends 'base.html.twig' %}

{% block body %}


    <section id="content">
        <div id="breadcrumb-container">
            <div class="container">
                <ul class="breadcrumb">
                    <li><a href="{{ path('homepage') }}">Главная</a></li>
                    <li class="active">заказ принят</li>
                </ul>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <header class="content-title">
                        <h1 class="title">!!!!!!!!!!!!!! СПАСИБО ЗА ЗАКАЗ !!!!!!!!!!!!!!!!!!!!!!</h1>

                    </header>

                </div><!-- End .col-md-12 -->
            </div><!-- End .row -->
        </div><!-- End .container -->

    </section><!-- End #content -->








{% endblock %}
