{% extends 'base.html.twig' %}
    {% block body %}

    <section id="content">
        <div id="breadcrumb-container">
            <div class="container">
                <ul class="breadcrumb">
                    <li><a href="index.html">Home</a></li>
                    <li class="active">Shopping Cart</li>
                </ul>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <header class="content-title">
                        <h1 class="title">Спасибо за заказ. Мы обязательно с вами свяжемся!</h1>
                    </header>

                    <form method="POST" action="https://api.privatbank.ua/p24api/ishop">
                        <input type="hidden" name="amt" value="500" />
                        <input type="hidden" name="ccy" value="UAH" />
                        <input type="hidden" name="merchant" value="129912" />
                        <input type="hidden" name="order" value="1234" />
                        <input type="hidden" name="details" value="Оплата на тестовом сайте" />
                        <input type="hidden" name="ext_details" value="Описание товара №12345" />
                        <input type="hidden" name="pay_way" value="privat24" />
                        <input type="hidden" name="return_url" value="{{ url('checkout_success') }}" />
                        <input type="hidden" name="server_url" value="{{ url('checkout_response') }}" />
                        <button type="submit">Оплатить</button>
                    </form>

                </div><!-- End .col-md-12 -->
            </div><!-- End .row -->
        </div><!-- End .container -->

    </section><!-- End #content -->

    {% endblock %}
