{% extends 'base.html.twig' %}

{% block body %}
    {% for category in categories %}
        <p>
            <a href="{{ path('category', {id: category.id}) }}">
                {{ category.name }}
                {% if category.photo %}
                    <img src="{{ category.photo }}" width="300" height="200">
                {% endif %}
            </a>
        </p>
    {% endfor %}

    {% include 'elements/products.html.twig' with {'products': products} %}
{% endblock %}
