{% extends 'base.html.twig' %}

{% block body %}

    {% for category in categories %}
        <p>
             <a href="{{ path('category',{id: category.id}) }}">
                {{ category.name }}
            {% if category.photo %}
                <img style="width: 200px" src="{{ category.photo }}">
            {% endif %}
            </a>
        </p>
    {% endfor %}

    {% include'elements/products.html.twig' with {'products': products} %}


{% endblock %}
