{% extends 'base.html.twig' %}

{% block body %}
    {% for product in products %}
        <p>Продукт: {{ product.name }} - {{ product.price }}
            {% if product.photo %}
                <img src="{{ product.photo }}">
            {% endif %}
        </p>
    {% endfor %}
{% endblock %}
